
img {
	width: 100%;
  height: 600px;
  background-image: url('img_flowers.jpg');
  background-size: cover;
  
  border-radius: 2%;
  padding-bottom: 50px;
}
body {
	background-color: #CD220C;
}
div {

}

#principal {
	
}


#flex {
	
	
	margin: 20px 20px 20px 20px;
	
	background-color: red;
}

.container {
	font-family: bold;
	margin: auto;
	
	border-top: 20px solid #FF4A33;
	border-radius-top: 5px;
	padding: 15px;
	padding-left: auto;
	padding-right: auto;
	background-color: #FF6033;
	width: 250px;

}

.description {
	background-color: #BE5B4E;
	padding-top: 50px;
}

.oo {
	padding-top: 50px;
}
.ooo {
	font-family: bold;
	margin: auto;

	padding: 15px;
	padding-left: auto;
	padding-right: auto;
	background-color: #FF6033;
	width: 250px;
}

